<div class="footer">

	<footer>
		
		<div class="">
			
			<!-- <img src="{{ site.baseurl }}/public/images/soa.png" class="logo"/> -->
			
			<p class="small">
				<strong>
					Reactive Spaces and Media Architecture - Fall 2018
				</strong>
				<br/>
				Course developed by 
				<a href="http://www.ultralowres.com">Jakob Marsico</a>
				&middot;
				Made in Pittsburgh at
				<a href="http://cmu.edu">Carnegie Mellon</a>.
			</strong>
			</p>
		</div>
		
	
		<div class="">
	
			<h6>
			Quick links:
			</h6>
			<ul>
				<li>
					<a href="{{ site.slack }}">Course Slack</a>
				</li>
				<li>
					<a href="{{ site.gallery }}">Gallery</a>
				</li>
				<li>
					<a href="http://resources.ideate.cmu.edu/">IDeATe Facilities</a>
				</li>				
			</ul>
			
			
		
		</div>


	</footer>

</div>
